<%- include('includes/registered-user-header'); -%>



    <main id="col-main">

        <div class="dashboard-container">

            <ul class="dashboard-sub-menu">
                <li><a href="/profile">Account Settings</a></li>
                <li class="current"><a href="/change-password">Change Password</a></li>
            </ul><!-- close .dashboard-sub-menu -->

            <div class="container-fluid">
                <div class="row">

                    <div class="col">

                        <form id="gpa4" class="account-settings-form" action="/change-password" method="post">

                            <%- messages() %>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="password" class="col-form-label">Password:</label>
                                        <input type="password" class="form-control" id="password" name="password" placeholder="**********" value="">
                                    </div>
                                </div><!-- close .col -->
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="new_password" class="col-form-label">New Password:</label>
                                        <input type="password" class="form-control" id="new_password" name="new_password" placeholder="**********" value="">
                                    </div>
                                </div><!-- close .col -->
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="confirm_password" class="col-form-label">Confirm Password:</label>
                                        <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="**********" value="">
                                    </div>
                                </div><!-- close .col -->
                            </div><!-- close .row -->
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="remember-me">
                                        Remember Password
                                    </label>
                                </div>
                            </div>
                            <div style="display: none" class="errorMsg alert alert-danger" role="alert">
                                <span class="fa fa-warning" aria-hidden="true"></span>
                                <span class="err" > </span>
                            </div>
                            <hr>
                            <p><button type="button" class="btn btn-green-pro" onclick="onSubmitForm()">Submit</button></p>
                            <br>
                        </form>

                    </div><!-- close .col -->

                </div><!-- close .row -->
            </div><!-- close .container-fluid -->

        </div><!-- close .dashboard-container -->
    </main>


</div><!-- close #sidebar-bg-->

<%- include('includes/registered-user-footer'); -%>
<script>
    function onSubmitForm(){
        event.preventDefault();
        $('.errorMsg').hide();

        /*------<Get Form Values>-----*/
        let password = $('#password').val();
        let newPassword = $('#new_password').val();
        let confirmPassword = $('#confirm_password').val();
        let error_flag = false;
        console.log('password ', password);
        console.log('newPassword ', newPassword);
        console.log('confirmPassword ', confirmPassword);
        /*---------------------<FORM VALIDATIONS START>---------------------*/

        let password_regex = /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$/;


            if(!password_regex.test(password)){
                $('.errorMsg .err').text('Please enter a valid password.');
                $('.errorMsg').show();
                error_flag = true;
            }
            else if (!password_regex.test(newPassword)) {
                    console.log('gets in new password');
                    $('.errorMsg .err').text('Please enter a valid new password.');
                    $('.errorMsg').show();
                    error_flag = true;
            }
            else if (newPassword !== confirmPassword || !password_regex.test(confirmPassword)) {
                    console.log('gets in confirm password');
                    $('.errorMsg .err').text('Passwords do not match.');
                    $('.errorMsg').show();
                    error_flag = true;
            }
            else if (error_flag === false) {
                console.log('submit form');
                $("#gpa4").submit();
            }

        /*---------------------<FORM VALIDATIONS END>---------------------*/
        /*------<Submit Form>-----*/
    }
</script>